:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

.header {
    display: flex;
    border-bottom: black;
}

.button {
    margin-top: 20px;
    margin-left: 1200px;
    height: 40px;
    width: 200px;
    cursor: pointer;
    font-size: 15px;
}

.form {
    border: 1px solid black;
}

label {
    display: flex;
    margin-top: 20px;
}

.buttons {
    margin: 10px;
    padding-top: 10px;
}

.back-to {
    margin-left: 10px;
}